{% extends 'base.html' %}

{% block content %}
    <h1>Список предметов</h1>
    <div class="row">
        <div class="col">
            <input type="text" id="subject_name_input" class="form-control" placeholder="Название предмета" aria-label="group_name">
        </div>
        <div class="col">
            <button id='subject_add_btn' type="button" class="btn btn-primary">Добавить</button>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Название</th>
            </tr>
        </thead>
        <tbody>
            {% for subject in subjects %}
                <tr>
                    <th scope="row">{{ subject.id }}</th>
                    <td>{{ subject.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='/js/subjects.js') }}"></script>
{% endblock %}
