{% extends 'base.html' %}

{% block content %}
    <h1>Список преподавателей</h1>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Должность</th>
            </tr>
        </thead>
        <tbody>
            {% for teacher in teachers %}
                <tr>
                    <th scope="row">{{ teacher.id }}</th>
                    <td>{{ teacher.first_name }}</td>
                    <td>{{ teacher.last_name }}</td>
                    <td>{{ teacher.position_name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}